<div class="container">
  <div class="background-scheme">
  <div class="jumbotron text-center" style="background-image: url('waldenbooks-background.jpg');">
    <h1 class="display-4">Welcome to EarBooks</h1>
    <p class="lead">Why read when someone else can do it for you?</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3 text-center mt-2">
      <h2>Please sign up or login</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <form #authFormRef="ngForm" (ngSubmit)="onAuthFormSubmit(authFormRef)">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" email ngModel required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ngModel required />
        </div>
        <button class="btn btn-primary mt-2" type="submit">{{ isLoginMode ? "Login" : "Sign Up" }}</button>
        <button class="btn btn-link" type="button" (click)="onSwitchAuthMode()">I need to {{ isLoginMode ? "Sign Up" : "Login" }}</button>
      </form>
      <p class="alert alert-danger mt-3" *ngIf="errMsg">{{ errMsg }}</p>
    </div>
  </div>
</div>
</div>
