<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3 text-center mt-2">
    <h1>Welcome!</h1>
    <p>Please sign up or login.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <form #authFormRef="ngForm" (ngSubmit)="onAuthFormSubmit(authFormRef)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          email
          ngModel
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          ngModel
          required
        />
      </div>

      <button class="btn btn-primary mt-2" type="submit">
        {{ isLoginMode ? "Login" : "Sign Up" }}
      </button>
      <button class="btn btn-link" type="button" (click)="onSwitchAuthMode()">
        I need to {{ isLoginMode ? "Sign Up" : "Login" }}
      </button>
    </form>
  </div>
</div>
